@using technicalChallenge.Controllers;
@using technicalChallenge.Models;
@{
    ViewBag.Title = "Simplificar Números";
    ViewBag.Add1 = "Resultado: ";
    ViewBag.Add2 = "/";
}
@model  NumberModel
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Simplify", "Home", FormMethod.Post))
{
<div class="panel-body">
    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Number1, "Dividendo:")@Html.TextBoxFor(model => model.Number1, new { @class = "" , @type = "number", @min = "0" })<br/>

                @Html.LabelFor(model => model.Number2, "Divisor:")@Html.TextBoxFor(model => model.Number2, new { @class = "", @type = "number", @min = "0" })
            </div>
        </div>
    </div>
    <p>@ViewBag.Message1</p>
    <p>@if (@ViewBag.Message2 == "") { }else{@ViewBag.Add1} @ViewBag.Message2 @if (@ViewBag.Message3 == "") { }else{@ViewBag.Add2} @ViewBag.Message3</p>
    <div class="submit-section">
        <input class="btn btn-primary" type="submit" value="Validar">
    </div>
</div>
}
